<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

  <h1>RESULTS</h1>

    <p>Your word is <%= params[:word] %></p>
    <p><%=  @score %></p>

<%= @impossible %>
<%= @results %>

<%= link_to 'Play again!', new_path %>
